* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #373737;
}

.container-absolute {
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    max-width: 1205px;
    margin: 0 auto;
    padding: 0 30px;
}

p {
    letter-spacing: 2.4px;
    line-height: 1.6;
    margin: 31px 0;
}

a {
    text-decoration: none;
}


.navigation {
    text-align: center;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li {
    display: inline-block;
    padding: 26px 32px;
}

.navigation a {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}


.main-img {
    width: 100%;
}

.main {
    text-align: center;
}

.content-title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin: 41px 0;
}

.button {
    display: inline-block;
    background: #FF0000;
    border-radius: 4px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 16px 43px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin: 46px 0px;

}

.footer {
    margin: 44px 0;
}

.footer-text {
    font-weight: 700;
    text-align: right;
    letter-spacing: 2.4px;
}